body {
    font-size: 24px;
}
p.green {
    color: green;
}
p.red {
    color: red;
}
p.blue {
    color: blue;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}
/*ul ol li.red {
    color: red;
}
ul ol li.green {
    color: green;
}
ul ol li.blue {
    color: blue;
}*/
